In [5]:
import pandas as pd
import not_in_pandas

In [6]:
df = pd.DataFrame(
    {"animal_a": ["lama", "cow", "lama", "beetle", "lama", "hippo"],
     "animal_b": ["cow", "beetle", "cow", "hippo", "lama", "beetle"]}
)

df.notin(['lama', 'cow'])

   animal_a  animal_b
0     False     False
1     False      True
2     False     False
3      True      True
4     False     False
5      True      True

In [7]:
df[df.animal_b.notin(['lama', 'cow'])]

  animal_a animal_b
1      cow   beetle
3   beetle    hippo
5    hippo   beetle

In [8]:
negated_series = df[~df.animal_b.isin(['lama', 'cow'])]
notin_series = df[df.animal_b.notin(['lama', 'cow'])]

print(negated_series.equals(notin_series))

True

In [9]:
negated_df = ~df.isin(['lama', 'cow'])
notin_df = df.notin(['lama', 'cow'])

print(negated_df.equals(notin_df))

True